<Configuration name="ConfigTest" status="INFO" monitorInterval="5">
  <Appenders>
    
    <Console name="Out">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="Out"/>
    </Root>
  </Loggers>
</Configuration>